* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-color: #182b35;
}
a {
    color: #000;
    text-decoration: none;
}
header {
    height: 30rem;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
.slider{
    height: 90%;
    overflow: hidden;
    margin-bottom: 2rem;
}

.slider a{
    width: 100%;    
}

.slider img{
    height: 23rem;
    width: 100%;
    background-size: cover;
}

.principal {
    height: 45rem;
}
.principal .descripcion{
    text-align: center;
    margin: .5rem 0;
    font-size: 35px;
}
.principal .parrafo {
    text-align: center;
    margin: 1rem 6rem;
    font-size: 20px;
}
.principal .personajes {
    text-align: center;
    margin: .5rem 0;
    font-size: 30px;
}
.principal .ul-pesonajes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 75%;
    list-style: none;
}
.principal .ul-pesonajes li {
    height: 13rem;
    width: 10rem;
    margin: 1rem;
    text-align: center;
    overflow: hidden;
    overflow: hidden;
}

.principal .ul-pesonajes li img {
    height: 75%;
    background-size: cover;
 }
 .principal .ul-pesonajes li h3{
     margin-top: 0.7rem;
     text-align: center;
 }
 section {
    height: 50rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-image: url('https://www.pngmart.com/files/1/Spider-Web-PNG-File.png');
}

section ul {
    list-style: none;
}

.actores {
    height: 35rem;
    width: 45%;
    margin-top: 8rem;
    float: left;
}

.actores .imagenes {
    width: 65%;
    height: 100%;
    float: left;
}

.actores ul li {
    margin: 1rem;
}
.actores ul li img{
    height: 150px;
    width: 150px;
}
.actores .texto li {
    margin:1.5rem 0rem;
}

 .peliculas {
     width: 50%;
     float: right;
 }
 .peliculas h2{
     margin-bottom: 1rem;
 }

 
 .peliculas ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: .5rem;
}
.peliculas ul li h3{
    margin-bottom: 0.5rem;
    color: #000;
}
.peliculas ul li img{
    height: 180px;
    width: 150px;
}
.peliculas ul li {
    list-style: none
    ;
}


footer {
    margin-top: 7rem;
    padding: 2rem;
    background-color: #10161d;
}

footer img{
    width: 75px;
    height: 75px;
}


footer .img_equipo{
    display: grid;
    justify-content: space-around;
    grid-template-columns: auto auto auto auto;
}

footer .img_equipo div{
    height: 15rem;
    width: 15rem;
    margin: 1rem;
}

footer .img_equipo div img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

footer h2{
    margin: 0rem 1rem 2rem 1rem;
    text-align: center;
    font-size: 35px;
}

footer .info ul{
    list-style: none;

}

footer .info li{
    font-size: 20px;
    margin: 1rem 0;
    color: #ccc;
}


/**Lesther*/
/* Estilo para tablets */
/* Estilos para tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    body {
      font-size: 16px;
    }
    .container {
      width: 90%;
      margin: 0 auto;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }
  
/**VyncenIphoneYsamsung*/
/**VyncenIphoneYsamsung*/ 
@media screen and (min-width: 300px) { 
    .container {    width: 100%; 
        margin: 0 auto; 
    }
  
footer .info li{
      max-width: 60%;
      height: auto; 
    }
}